body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #f1f1f1;
  background-color: lightslategrey;
}

h1,h2 {
  text-align: center;
  font-size: 50px;
  margin: 50px auto 0;
}

.container{
  display: grid;
  grid-template:repeat(3,100px) / repeat(3,100px);
  width: 300px;
  height: 300px;
  margin: 50px auto;
}

.cell {
  width: 100px;
  height: 100px;
  color:white;
  border : 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;

}